<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p>&copy; 2025 Airbnb, Inc. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  